<app-blauer-salon [term]="term" [tablesBlauerSalon]="tablesBlauerSalon" [showBlauerSalonBool]="showBlauerSalonBool" (occupied)="occupied($event)"></app-blauer-salon>
<app-roter-salon [term]="term" [tablesRoterSalon]="tablesRoterSalon" [showRoterSalonBool]="showRoterSalonBool"  (occupied)="occupied($event)"></app-roter-salon>
<app-panorama [term]="term" [tablesPanorama]="tablesPanorama" [showPanoramaBool]="showPanoramaBool"  (occupied)="occupied($event)"></app-panorama>
<app-turm [term]="term" [tablesTurm]="tablesTurm" [showTurmBool]="showTurmBool"  (occupied)="occupied($event)"></app-turm>
<app-andreas-saal [term]="term" [tablesAndreasSaal]="tablesAndreasSaal" [showAndreasSaalBool]="showAndreasSaalBool"  (occupied)="occupied($event)"></app-andreas-saal>
<app-alle [term]="term" [tables]="tables" [tablesTempAbreise]="tablesTempAbreise" [showAlleBool]="showAlleBool" (occupied)="occupied($event)"></app-alle>
