<div class="row4">
  <div class="col-md-3 col-xs-3">
  <div class="btn-group-departments" dropdown>
  <button dropdownToggle type="button" class="abteilungsButton" [ngStyle]="{'background-color': '#' + buttonBgColorDropdownToggle}"   (mouseenter)="mouseEnterDropdownToggle()"  (mouseleave)="mouseLeaveDropdownToggle()">
    <div *ngIf="showAbteilungen">
     Abteilungen <i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
    <div *ngIf="showAlleBool">
      Alle <i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
    <div *ngIf="showRoterSalonBool">
      Roter-<br>Salon <i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
    <div *ngIf="showTurmBool">
       Turm <br><i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
    <div *ngIf="showBlauerSalonBool">
      Blauer Salon <br> Glockner Saal<i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
    <div *ngIf="showPanoramaBool">
       Panorama <i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
    <div *ngIf="showAndreasSaalBool">
      Andreas<br>Saal <i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem" class="showRoterSalon"  (click)="showRoterSalon()" (mouseenter)="mouseEnterRoterSalon()"  (mouseleave)="mouseLeaveRoterSalon()" [ngStyle]="{'background-color': '#' + buttonBgColor1}">
        <p [ngStyle]="{'color': '#' + fontColor1}">Roter Salon</p>
      </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem" class="showPanorama"  (click)="showPanorama()" (mouseenter)="mouseEnterPanorama()"  (mouseleave)="mouseLeavePanorama()" [ngStyle]="{'background-color': '#' + buttonBgColor2}">
        <p [ngStyle]="{'color': '#' + fontColor2}">Panorama</p>
      </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem" class="showBlauerSalon" (click)="showBlauerSalon()" (mouseenter)="mouseEnterBlauerSalon()"  (mouseleave)="mouseLeaveBlauerSalon()" [ngStyle]="{'background-color': '#' + buttonBgColor3}">
        <p [ngStyle]="{'color': '#' + fontColor3}">Blauer Salon</p>
      </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem" class="showTurm" (click)="showTurm()" (mouseenter)="mouseEnterTurm()"  (mouseleave)="mouseLeaveTurm()" [ngStyle]="{'background-color': '#' + buttonBgColor4}">
        <p [ngStyle]="{'color': '#' + fontColor4}">Turm</p>
      </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem" class="showAndreasSaal" (click)="showAndreasSaal()" (mouseenter)="mouseEnterAndreasSaal()"  (mouseleave)="mouseLeaveAndreasSaal()" [ngStyle]="{'background-color': '#' + buttonBgColor5}">
      <p [ngStyle]="{'color': '#' + fontColor5}">Andreas Saal</p>
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem" class="showAlle" (click)="showAlle()" (mouseenter)="mouseEnterAlle()"  (mouseleave)="mouseLeaveAlle()" [ngStyle]="{'background-color': '#' + buttonBgColor6}">
        <p [ngStyle]="{'color': '#' + fontColor6}">Alle</p>
      </li>
    <li class="divider dropdown-divider"></li>
  </ul>
</div>
</div>
  <div class="col-md-3 col-xs-3" (click)="showInfoForm()"  (mouseenter)="mouseEnterShowInfoForm()"  (mouseleave)="mouseLeaveShowInfoForm()" [ngStyle]="{'background-color': '#' + buttonBgColorInfoForm}">
    <p [ngStyle]="{'color': '#' + fontColorInfoForm}">Trace</p>
  </div>
  <div class="col-md-3 col-xs-3"  (click)="showNotizForm()"  (mouseenter)="mouseEnterShowNotizForm()"  (mouseleave)="mouseLeaveShowNotizForm()" [ngStyle]="{'background-color': '#' + buttonBgColorNotizForm}">
    <p [ngStyle]="{'color': '#' + fontColorNotizForm}">Notiz</p>
  </div>
  <div class="col-md-3 col-xs-3" style="padding-left: 5px" (click)="showTablePlan()"  (mouseenter)="mouseEnterShowTablePlan()"  (mouseleave)="mouseLeaveShowTablePlan()" [ngStyle]="{'background-color': '#' + buttonBgColorShowTablePlan}">
    <p  [ngStyle]="{'color': '#' + fontColorShowTablePlan}">Tischplan</p>
  </div>
</div>



