<div *ngIf="showTablePlanBool">
  <div class="col-xs-12 printTwo">
    <div class="row" style=" border-left: 5px solid #0a7a74; border-right: 5px solid #0a7a74;">
      <div *ngIf="showAndreasSaalBool">
        <div *ngFor="let tableAndreasSaal of tablesAndreasSaal; let j = index;">
          <div dropdownToggle type="button" class="t{{tableAndreasSaal.number}} table-item" [ngStyle]="{'top': tableAndreasSaal.topValue + 'px', 'left': tableAndreasSaal.leftValue + 'px', 'background-color': + tableAndreasSaal.bgColor, 'height': + tableAndreasSaal.height + 'px', 'width': + tableAndreasSaal.width + 'px', 'border': + tableAndreasSaal.border}" [style.border]="getStyle(tablesAndreasSaal[j].groups)" dropdown>
            <div *ngIf="tablesAndreasSaal[j] !== tablesAndreasSaal[j+1]">
              <p><b>{{tableAndreasSaal.number}} <br>{{erwAndreasSaal[j]}}/{{kiAndreasSaal[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableAndreasSaal, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableAndreasSaal, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableAndreasSaal.groups">
                    <div *ngIf="group.nameValue">
                      <div class="dropdown-item" [style.border]="getStyleTrace(group.traceValue)"><b>Name:</b> {{group.nameValue}}<br><b>Nation:</b> {{group.nationValue}}<br><b>Sprache:</b> {{group.spracheValue}}<br><b>Zimmer Nummer: </b>{{group.zimmernummerValue}}<br><b>Preistyp: </b>{{group.preistypValue}}<br><b>Anreise: </b>{{group.anreiseValue}}<br><b>Abreise:</b> {{group.abreiseValue}}<br><b>Personen Anzahl:</b>{{group.personenAnzahlValue}}<br><b>Kategorie: </b>{{group.kategorieValue}}<br><b>Reisebüro: </b>{{group.reisebueroValue}}<br><b>Notiz1:</b> {{group.notiz1Value}}<br><b>Notiz2:</b> {{group.notiz2Value}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br><b>Trace:</b> {{group.traceValue}}</div>
                      <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                    </div>
                    <div *ngIf="group.newTraceText">
                      <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                        <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showPanoramaBool">
        <div *ngFor="let tablePanorama of tablesPanorama; let j = index;">
          <div dropdownToggle type="button" class="t{{tablePanorama.number}} table-item" [ngStyle]="{'top': tablePanorama.topValue + 'px', 'left': tablePanorama.leftValue + 'px', 'background-color': + tablePanorama.bgColor, 'height': + tablePanorama.height + 'px', 'width': + tablePanorama.width + 'px', 'border': + tablePanorama.border, 'border-radius': + tablePanorama.borderRadius}" [style.border]="getStyle(tablesPanorama[j].groups)" dropdown>
            <div *ngIf="tablesPanorama[j] !== tablesPanorama[j+1]">
              <p><b>{{tablePanorama.number}} <br>{{erwPanorama[j]}}/{{kiPanorama[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tablePanorama, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tablePanorama, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tablePanorama.groups">
                    <div *ngIf="group.nameValue">
                      <div class="dropdown-item" [style.border]="getStyleTrace(group.traceValue)"><b>Name:</b> {{group.nameValue}}<br><b>Nation:</b> {{group.nationValue}}<br><b>Sprache:</b> {{group.spracheValue}}<br><b>Zimmer Nummer: </b>{{group.zimmernummerValue}}<br><b>Preistyp: </b>{{group.preistypValue}}<br><b>Anreise: </b>{{group.anreiseValue}}<br><b>Abreise:</b> {{group.abreiseValue}}<br><b>Personen Anzahl:</b>{{group.personenAnzahlValue}}<br><b>Kategorie: </b>{{group.kategorieValue}}<br><b>Reisebüro: </b>{{group.reisebueroValue}}<br><b>Notiz1:</b> {{group.notiz1Value}}<br><b>Notiz2:</b> {{group.notiz2Value}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br><b>Trace:</b> {{group.traceValue}}</div>
                      <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                    </div>
                    <div *ngIf="group.newTraceText">
                      <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                        <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showBlauerSalonBool">
        <div *ngFor="let tableBlauerSalon of tablesBlauerSalon; let j = index;">
          <div dropdownToggle type="button" class="t{{tableBlauerSalon.number}} table-item" [ngStyle]="{'top': tableBlauerSalon.topValue + 'px', 'left': tableBlauerSalon.leftValue + 'px', 'background-color': + tableBlauerSalon.bgColor, 'height': + tableBlauerSalon.height + 'px', 'width': + tableBlauerSalon.width + 'px', 'border': + tableBlauerSalon.border}" [style.border]="getStyle(tablesBlauerSalon[j].groups)" dropdown>
            <div *ngIf="tablesBlauerSalon[j] !== tablesBlauerSalon[j+1]">
              <p><b>{{tableBlauerSalon.number}} <br>{{erwBlauerSalon[j]}}/{{kiBlauerSalon[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableBlauerSalon, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableBlauerSalon, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableBlauerSalon.groups">
                    <div *ngIf="group.nameValue">
                      <div class="dropdown-item" [style.border]="getStyleTrace(group.traceValue)"><b>Name:</b> {{group.nameValue}}<br><b>Nation:</b> {{group.nationValue}}<br><b>Sprache:</b> {{group.spracheValue}}<br><b>Zimmer Nummer: </b>{{group.zimmernummerValue}}<br><b>Preistyp: </b>{{group.preistypValue}}<br><b>Anreise: </b>{{group.anreiseValue}}<br><b>Abreise:</b> {{group.abreiseValue}}<br><b>Personen Anzahl:</b>{{group.personenAnzahlValue}}<br><b>Kategorie: </b>{{group.kategorieValue}}<br><b>Reisebüro: </b>{{group.reisebueroValue}}<br><b>Notiz1:</b> {{group.notiz1Value}}<br><b>Notiz2:</b> {{group.notiz2Value}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br><b>Trace:</b> {{group.traceValue}}</div>
                      <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                    </div>
                    <div *ngIf="group.newTraceText">
                      <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                        <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showRoterSalonBool">
        <div *ngFor="let tableRoterSalon of tablesRoterSalon; let j = index;">
          <div dropdownToggle type="button" class="t{{tableRoterSalon.number}} table-item" [ngStyle]="{'top': tableRoterSalon.topValue + 'px', 'left': tableRoterSalon.leftValue + 'px', 'background-color': + tableRoterSalon.bgColor, 'height': + tableRoterSalon.height + 'px', 'width': + tableRoterSalon.width + 'px', 'border': + tableRoterSalon.border, 'border-radius': + tableRoterSalon.borderRadius, 'transform':  + tableRoterSalon.transformValue}" [style.border]="getStyle(tablesRoterSalon[j].groups)" dropdown>
            <div *ngIf="tablesRoterSalon[j] !== tablesRoterSalon[j+1]">
              <p><b>{{tableRoterSalon.number}} <br>{{erwRoterSalon[j]}}/{{kiRoterSalon[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableRoterSalon, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableRoterSalon, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableRoterSalon.groups">
                    <div *ngIf="group.nameValue">
                      <div class="dropdown-item" [style.border]="getStyleTrace(group.traceValue)"><b>Name:</b> {{group.nameValue}}<br><b>Nation:</b> {{group.nationValue}}<br><b>Sprache:</b> {{group.spracheValue}}<br><b>Zimmer Nummer: </b>{{group.zimmernummerValue}}<br><b>Preistyp: </b>{{group.preistypValue}}<br><b>Anreise: </b>{{group.anreiseValue}}<br><b>Abreise:</b> {{group.abreiseValue}}<br><b>Personen Anzahl:</b>{{group.personenAnzahlValue}}<br><b>Kategorie: </b>{{group.kategorieValue}}<br><b>Reisebüro: </b>{{group.reisebueroValue}}<br><b>Notiz1:</b> {{group.notiz1Value}}<br><b>Notiz2:</b> {{group.notiz2Value}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br><b>Trace:</b> {{group.traceValue}}</div>
                      <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                    </div>
                    <div *ngIf="group.newTraceText">
                      <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                        <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showTurmBool">
        <div *ngFor="let tableTurm of tablesTurm; let j = index;">
          <div dropdownToggle type="button" class="t{{tableTurm.number}} table-item" [ngStyle]="{'top': tableTurm.topValue + 'px', 'left': tableTurm.leftValue + 'px', 'background-color': + tableTurm.bgColor, 'height': + tableTurm.height + 'px', 'width': + tableTurm.width + 'px', 'border': + tableTurm.border, 'border-radius': + tableTurm.borderRadius, 'transform':  + tableTurm.transformValue}" [style.border]="getStyle(tablesTurm[j].groups)" dropdown>
            <div *ngIf="tablesTurm[j] !== tablesTurm[j+1]">
              <p><b>{{tableTurm.number}} <br>{{erwTurm[j]}}/{{kiTurm[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableTurm, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableTurm, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableTurm.groups">
                    <div *ngIf="group.nameValue">
                      <div class="dropdown-item" [style.border]="getStyleTrace(group.traceValue)"><b>Name:</b> {{group.nameValue}}<br><b>Nation:</b> {{group.nationValue}}<br><b>Sprache:</b> {{group.spracheValue}}<br><b>Zimmer Nummer: </b>{{group.zimmernummerValue}}<br><b>Preistyp: </b>{{group.preistypValue}}<br><b>Anreise: </b>{{group.anreiseValue}}<br><b>Abreise:</b> {{group.abreiseValue}}<br><b>Personen Anzahl:</b>{{group.personenAnzahlValue}}<br><b>Kategorie: </b>{{group.kategorieValue}}<br><b>Reisebüro: </b>{{group.reisebueroValue}}<br><b>Notiz1:</b> {{group.notiz1Value}}<br><b>Notiz2:</b> {{group.notiz2Value}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br><b>Trace:</b> {{group.traceValue}}</div>
                      <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                    </div>
                    <div *ngIf="group.newTraceText">
                      <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                        <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showAlleBool">
        <br>
        <br>
        <br>
        <h1 style="color: white; margin-top: 200px">Perfekt um eine Suche zu starten ;-)</h1>
      </div>
    </div>
  </div>
</div>
